mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row.row
				.col-lg-6
					.wrap-primary
						+icon('logo')
						+icon('hr')
						+icon('city')
						+icon('moscow')
				.col-lg-6
					.wrap-dark
						.item(href='#') Политика конфиденциальности
						.item © 2024