mixin sAuth(title)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth(style="background: url('./img/svg/auth-bg.svg') no-repeat center center; background-size: cover;")
		.container
			.panel-block&attributes(attributes)
				+e.header-wrap
					+icon('logo')
					+icon('hr')
				.section-title.text-center: h3= title
				+form-wrap
					+input("Электронная почта",'email','Электронная почта')(required)
					+input("Пароль",'password','Пароль')(required)
						+b.btn-toggle-type-input--js
							+icon("eye")
					button.btn.btn-dark.mb-2(type="submit") Войти
					.text-center: a(href="#").small Забыли пароль?
	// end sAuth

mixin sAuth2(title)
	// start sAuth
	+b.SECTION.sAuth.section#sAuth(style="background: url('./img/svg/auth-bg.svg') no-repeat center center; background-size: cover;")
		.container
			.panel-block&attributes(attributes)
				+e.header-wrap
					+icon('logo')
					+icon('hr')
				.section-title.text-center: h3= title
				+form-wrap
					+input("Электронная почта",'email','Электронная почта')(required)
					button.btn.btn-dark.mb-2(type="submit") Отправить
					.text-center: .small На указанный вами адрес электронной почты будет отправлена инструкция по восстановлению пароля
	// end sAuth