extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sCabinet/_sCabinet.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Нетворкинг'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+sSearch(title)
		//- +cookie
	+parts('footer')