extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sArticle/_sArticle.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Полезные материалы'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+sSearch2(title)
		+sArticle
		//- +cookie
	+parts('footer')