mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.text.text_large Каждый новый контакт и каждая прочитанная страница — это шаг навстречу вашему успеху!<br>Добро пожаловать и удачи на пути к знаниям и новым достижениям!
			+e.btn-wrap: +e.btn.btn.btn-warning.btn-lg(href='#') Авторизоваться
	// end sContent