mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid
			+e.row.row
				+e.col-logo.col-auto.order-first.d-none.d-lg-block
					+e.logo(href='/')
						+img('img/svg/logo-dark.svg')
				.col.d-lg-none
					+mnu-mob()
				.col-8.d-none.d-lg-block
					+mnu()
				.col-auto.d-none.d-lg-block.ms-auto.set-col
					+e.user-wrap: a(href='#'): +icon('user-desktop')
					+e.settings.d-none
						+e.item-set(href='#')
							+icon('settings')
							| Настройки
						+e.item-set(href='#')
							+icon('exit')
							| Выход

	// end top-nav