.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// @include media-breakpoint-up(md) {
			--bs-gutter-y: var(--bs-gutter-x);
      align-items: center;
		// }
	}
  @include media-breakpoint-down(lg) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  @include media-breakpoint-up(lg) {
    min-height: rem(72);
  }
  background: $white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}

  .menu {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(4);
      @include media-breakpoint-up(lg) {
        flex-direction: row;
        gap: rem(8);
      }
    }
  }
  .menu-item:last-child {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__user-wrap {
    background: $gray-100;
    border-radius: rem(8);
    padding: rem(8);
  }
  nav ul {
    justify-content: space-around;
    @include media-breakpoint-down(lg) {
      // justify-content: space-around;
      display: flex;
    justify-content: space-around;
    }
  }

	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


