mixin sSearch(title)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes)
		.container
			.wrap: .item
				+b.section-title.text-center
					h1=title
				.text Нетворкинг — это расширение сети знакомств для решения профессиональных задач с их помощью.<br>Здесь вы можете узнать информацию об участниках программы, найти точки соприкосновения и более эффективно и быстро решать свои задачи.
				+search
				.filter-toggle.d-lg-none
					| Фильтр
					+icon('settings')
				.d-lg-none: +filterMobile
	// end sSearch

mixin filterMobile
	+b.filter-mobile
		+e.wrap
			.d-lg-none: +icon('cross')
			.d-lg-none: +e.title.text-center.fw-700 Фильтр
			+e.items 
				+e.item-wrap: +e.filter-wrap
					+e.f-title Должности
						+icon('arrow-bottom')
					+e.f-wrap
						.custom-scroll()
							+in-c('checkbox','Основатель','job')(checked)
							+in-c('checkbox','Директор по развитию','job')
							+in-c('checkbox','Заместитель генерального директора','job')
							+in-c('checkbox','Основатель','job')(checked)
							+in-c('checkbox','Директор по развитию','job')
							+in-c('checkbox','Заместитель генерального директора','job')
							+in-c('checkbox','Основатель','job')
							+in-c('checkbox','Директор по развитию','job')
							+in-c('checkbox','Заместитель генерального директора','job')
							+in-c('checkbox','Основатель','job')
							+in-c('checkbox','Директор по развитию','job')
							+in-c('checkbox','Заместитель генерального директора','job')
				+e.item-wrap: +e.filter-wrap
					+e.f-title Округ
						+icon('arrow-bottom')
					+e.f-wrap
						.custom-scroll()
							+regionLink('A', 'Академический')
							+regionLink('', 'Алексеевский')
							+regionLink('', 'Алтуфьевский')
							+regionLink('', 'Арбат')
							+regionLink('', 'Аэропорт')
							+regionLink('Б', 'Бабушкинский')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
							+regionLink('B', 'Бабушкинский')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
				+e.item-wrap: +e.filter-wrap
					+e.f-title Район работы
						+icon('arrow-bottom')
					+e.f-wrap
						.custom-scroll()
							+regionLink('A', 'Академический')
							+regionLink('', 'Алексеевский')
							+regionLink('', 'Алтуфьевский')
							+regionLink('', 'Арбат')
							+regionLink('', 'Аэропорт')
							+regionLink('Б', 'Бабушкинский')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
							+regionLink('B', 'Бабушкинский')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
							+regionLink('', 'Басманный')
				+e.item-wrap: +e.filter-wrap
					+e.f-title Экспертиза
						+icon('arrow-bottom')
					+e.f-wrap
						.custom-scroll()
							+in-c('checkbox','Автоматизация бизнес-процессов','exp')(checked)
							+in-c('checkbox','Коммуникация','exp')
							+in-c('checkbox','Поддержка и развитие креативных индустрий','exp')
							+in-c('checkbox','Инвестиционные проекты','exp')
							+in-c('checkbox','Работа с людьми','exp')
							+in-c('checkbox','Поддержка и развитие креативных индустрий','exp')
							+in-c('checkbox','Инвестиционные проекты','exp')
							+in-c('checkbox','Работа с людьми','exp')
							+in-c('checkbox','Поддержка и развитие креативных индустрий','exp')
							+in-c('checkbox','Инвестиционные проекты','exp')
							+in-c('checkbox','Работа с людьми','exp')
							+in-c('checkbox','Поддержка и развитие креативных индустрий','exp')
							+in-c('checkbox','Инвестиционные проекты','exp')
							+in-c('checkbox','Работа с людьми','exp')


mixin sSearch2(title)
	// start sSearch
	+b.SECTION.sSearch.sSearch-filter--js.section#sSearch2&attributes(attributes)
		.container
			.wrap: .item.item_small
				+b.section-title.text-center
					h1=title
				+search
				.dropdown.d-lg-none
					.dropdown-toggle.dropdown-toggle_gray(type="button" data-bs-toggle="dropdown" aria-expanded="false") Все материалы
					+b.events-filter.dropdown-menu
						+e.radio-wrap--text.radio-wrap
							+in-c('radio','Все материалы','eventsM')(checked)
							+in-c('radio','Обязательные','eventsM')
							+in-c('radio','Факультативные','eventsM')
							+in-c('radio','Рекомендации','eventsM')
	// end sSearch