
mixin mnu()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			each link in nav
				li.menu-item(itemprop="item" )
					a(href= link.url itemprop="url")
						+icon(`${link.icon}`)
						span=link.name

//- menu