//- pugination
mixin pugin()
	nav.pagination-nav
		ul.pagination
			li.page-item.disabled
				a.page-link.page-link--prev(href="#")
			li.page-item.active
				a.page-link(href="#") 1
			li.page-item
				a.page-link(href="#") 2
			li.page-item
				a.page-link(href="#") 3
			li.page-item
				a.page-link(href="#") 4
			li.page-item
				a.page-link(href="#") 5
			li.page-item
				a.page-link.page-link--next(href="#")